@font-face {
    font-family: RADIOLAND;
    src: url('./fonts/RADIOLAND.TTF')
  }

@font-face {
    font-family: Michroma;
    src: url('./fonts/Michroma-Regular.ttf');
}

body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    background-color: #f0ece2;
}

.header-text {
    font-family: Michroma;
}

#display {
    display: flex;
    border: 4px solid black;
    height: 45px;
    width: 205px;
    padding-top: 10px;
    font-family: RADIOLAND;
    font-size: xx-large;
    align-items: stretch;
    justify-content: flex-start;
    background-color: #f0ece2;
    
}

#calculator {
    background-color: #596e79;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 5px 5px 10px black;
    margin-bottom: auto;
}

button {
    font-family: Michroma;
}

#clear {
    width: 200px;
    padding: 5px 0;
    margin: 5px 0;
    border-radius: 8px;
    background-color: #c7b198;

}

.input {
    width: 45px;
    height: 45px;
    margin: 2.5px;
    border-radius: 8px;
    background-color: #dfd3c3;
}

#equals {
    background-color: #dfd3c3;
}

.operator {
    width: 45px;
    height: 45px;
    margin: 2.5px;
    border-radius: 8px;
    background-color: #c7b198;
}

h3{
    margin-bottom: 0;
    margin-top: 10%;
    font-family: Michroma;
}